# eBay Kleinanzeigen Car Sales Data Analysis

In this guided project, we'll work with a dataset of used cars from eBay Kleinanzeigen, a classifieds section of the German eBay website.

The dataset was originally scraped and uploaded to Kaggle by user orgesleka.
The original dataset isn't available on Kaggle anymore, but you can find it [here](https://data.world/data-society/used-cars-data).

In [119]:
import pandas as pd
import numpy as np


autos=pd.read_csv('autos.csv',encoding='Latin-1')

In [120]:
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÃœRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2016-03-14 17:48:27,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,39576,2016-04-06 00:46:52
371524,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
371525,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
371526,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21
371527,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

In [121]:
autos.info()
autos.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dateCrawled          371528 non-null  object
 1   name                 371528 non-null  object
 2   seller               371528 non-null  object
 3   offerType            371528 non-null  object
 4   price                371528 non-null  int64
 5   abtest               371528 non-null  object
 6   vehicleType          333659 non-null  object
 7   yearOfRegistration   371528 non-null  int64
 8   gearbox              351319 non-null  object
 9   powerPS              371528 non-null  int64
 10  model                351044 non-null  object
 11  kilometer            371528 non-null  int64
 12  monthOfRegistration  371528 non-null  int64
 13  fuelType             338142 non-null  object
 14  brand                371528 non-null  object
 15  notRepairedDamage    299468 non-null  object
 16  dateCreated          371528 non-null  object
 17  nrOfPictures         371528 non-null  int64
 18  postalCode           371528 non-null  int64
 19  lastSeen             371528 non-null  object
dtypes: int64(7), object(13)
memory usage: 56.7+ MB

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÃœRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

The dataset has 20 columns. Some null values. They use camelcase instead of snake case. We will turn this into snake case.

In [122]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'kilometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [123]:
autos.columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'ab_test',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'num_photos', 'postal_code',
       'last_seen']

The changes were made to comply with python standards and to improve readability

In [124]:
autos.describe(include='all')
autos['odometer'].value_counts()

150000    240797
125000     38067
100000     15920
90000      12523
80000      11053
70000       9773
60000       8669
50000       7615
5000        7069
40000       6376
30000       6041
20000       5676
10000       1949
Name: odometer, dtype: int64

The following columns are candidates to be dropped:

-offer_type :because almost all the datapoints are the same

-num_photos: because it contains only null values

-seller: because almost all the datapoints are the same


The following columns should be changed:

-price:because it is stored as text

-odometer:because it is sotred as text

In [125]:
autos.drop(['offer_type','num_photos','seller'],axis=1)
autos['odometer']=autos['odometer'].astype(int)

In [126]:
autos['price'].value_counts()

0         10778
500        5670
1500       5394
1000       4649
1200       4594
          ...
349000        1
8889          1
3440          1
1997          1
10985         1
Name: price, Length: 5597, dtype: int64

In [127]:
autos.rename({'odometer':'odometer_km'},inplace=True,axis=1)

In [128]:
price=autos['price']
price.describe()
price.value_counts().sort_index(ascending=False).head(20
                                                     )

2147483647     1
99999999      15
99000000       1
74185296       1
32545461       1
27322222       1
14000500       1
12345678       9
11111111      10
10010011       1
10000000       8
9999999        3
3895000        1
3890000        1
2995000        1
2795000        1
1600000        2
1300000        1
1250000        2
1234566        1
Name: price, dtype: int64

In [129]:
autos=autos[price.between(1,1000000)]

In [130]:
price.value_counts()

0         10778
500        5670
1500       5394
1000       4649
1200       4594
          ...
349000        1
8889          1
3440          1
1997          1
10985         1
Name: price, Length: 5597, dtype: int64

1000000 seems to be a reasonable cap for the price of a car. There are supercars that go for more than that but they are so rare that they don't provide a sensible measure for the average car buyer.

In [131]:
autos['date_crawled'].describe()

count                  360685
unique                 274606
top       2016-03-24 14:49:47
freq                        7
Name: date_crawled, dtype: object

In [132]:
autos['date_crawled'].str[:10].value_counts(normalize=True,dropna=False).sort_index()

2016-03-05    0.025546
2016-03-06    0.014481
2016-03-07    0.035652
2016-03-08    0.033467
2016-03-09    0.034113
2016-03-10    0.032646
2016-03-11    0.032771
2016-03-12    0.036242
2016-03-13    0.015781
2016-03-14    0.036328
2016-03-15    0.033425
2016-03-16    0.030201
2016-03-17    0.031656
2016-03-18    0.013117
2016-03-19    0.035269
2016-03-20    0.036400
2016-03-21    0.035693
2016-03-22    0.032491
2016-03-23    0.032003
2016-03-24    0.029913
2016-03-25    0.032796
2016-03-26    0.031970
2016-03-27    0.030231
2016-03-28    0.035061
2016-03-29    0.034124
2016-03-30    0.033531
2016-03-31    0.031875
2016-04-01    0.034152
2016-04-02    0.035094
2016-04-03    0.038812
2016-04-04    0.037626
2016-04-05    0.012787
2016-04-06    0.003127
2016-04-07    0.001619
Name: date_crawled, dtype: float64

The crawling perios spans roughly a month, from March to April 2016

In [133]:
autos['ad_created'].str[:10].value_counts(normalize=True,dropna=False).sort_index()

2014-03-10    0.000003
2015-03-20    0.000003
2015-06-11    0.000003
2015-06-18    0.000003
2015-08-07    0.000003
                ...
2016-04-03    0.039001
2016-04-04    0.037734
2016-04-05    0.011620
2016-04-06    0.003119
2016-04-07    0.001555
Name: ad_created, Length: 114, dtype: float64

If we consider the number of ads created as site popularity we can say that the sites populatrity increased dramatically since 2014 up to 2016

In [134]:
autos['last_seen'].str[:10].value_counts(normalize=True,dropna=False).sort_index()

2016-03-05    0.001264
2016-03-06    0.004098
2016-03-07    0.005201
2016-03-08    0.007938
2016-03-09    0.009823
2016-03-10    0.011459
2016-03-11    0.012953
2016-03-12    0.023242
2016-03-13    0.008409
2016-03-14    0.012174
2016-03-15    0.016324
2016-03-16    0.016416
2016-03-17    0.028704
2016-03-18    0.006890
2016-03-19    0.016333
2016-03-20    0.019887
2016-03-21    0.020029
2016-03-22    0.020508
2016-03-23    0.018018
2016-03-24    0.019161
2016-03-25    0.018997
2016-03-26    0.015956
2016-03-27    0.016721
2016-03-28    0.022191
2016-03-29    0.023286
2016-03-30    0.023722
2016-03-31    0.024240
2016-04-01    0.023899
2016-04-02    0.024969
2016-04-03    0.025318
2016-04-04    0.025532
2016-04-05    0.126967
2016-04-06    0.218945
2016-04-07    0.130427
Name: last_seen, dtype: float64

There seems to be a spike in the last days of the crawling, but this is unlikely that these are caused by sales and may be cause by the crawling period

In [135]:
autos['registration_year'].describe()

count    360685.000000
mean       2004.451821
std          82.111504
min        1000.000000
25%        1999.000000
50%        2004.000000
75%        2008.000000
max        9999.000000
Name: registration_year, dtype: float64

The min and max values seem off since in the year 1000 there were no cars and the max date is in the future. On a side note, since this is data from 2016, cars cannot be sold online before they are registered or even exist, so we are excluding dates older than 2016

We will first check how many listings fall outside of the 1900-2016 range to see if its safe to remove them.

In [136]:
autos['registration_year'].between(1900,2016).sum()/autos.shape[0]

0.9612487350458156

Since 96% of the cars were registered between 1900 and 2016, it is safe to remove them.

In [137]:
autos=autos[autos['registration_year'].between(1900,2016)]
autos['registration_year'].value_counts(normalize=True).sort_index(ascending=False).head(30)

2016    0.026605
2015    0.008431
2014    0.013755
2013    0.017658
2012    0.026994
2011    0.034600
2010    0.035393
2009    0.044703
2008    0.046249
2007    0.050492
2006    0.057700
2005    0.062664
2004    0.056171
2003    0.056549
2002    0.054282
2001    0.056950
2000    0.066702
1999    0.063543
1998    0.049693
1997    0.040466
1996    0.030025
1995    0.025956
1994    0.013400
1993    0.009515
1992    0.008356
1991    0.007664
1990    0.007219
1989    0.003631
1988    0.002671
1987    0.001895
Name: registration_year, dtype: float64

Most cars that are sold here were registered between 2000 and 2006.

In [138]:
print(autos['brand'].unique().shape)
autos['brand'].value_counts(normalize=True)[:10]

(40,)

volkswagen       0.211682
bmw              0.109871
opel             0.106398
mercedes_benz    0.096837
audi             0.089539
ford             0.068914
renault          0.047510
peugeot          0.030149
fiat             0.025687
seat             0.018658
Name: brand, dtype: float64

In [139]:
brands_price={}
brands=autos['brand'].value_counts(normalize=True)[:10].index

for brand in brands:
    brands_price[brand]=autos[autos['brand']==brand]['price'].mean()

In [140]:
brands_price

{'volkswagen': 5452.33870176586,
 'bmw': 8541.678261097839,
 'opel': 2998.927674916642,
 'mercedes_benz': 8609.055965926014,
 'audi': 9166.50879396985,
 'ford': 3779.8030385468546,
 'renault': 2437.6054516755707,
 'peugeot': 3267.612647086961,
 'fiat': 2892.9535144846172,
 'seat': 4541.999227083012}

Since there are 40 brands, we just consider the 10 most popular ones. We identify some price segments:
- Audi, Mercedes Benz and BMW are the most expensive ones.
- Seat, Volkswagen are in the midrange.
- Opel, Ford, Renault, Fiat, Peugeot are the cheaper ones.

In [143]:
brands_mileage={}

for brand in brands:
    
    brands_mileage[brand]=autos[autos['brand']==brand]['odometer_km'].mean()
    
brand_price_series=pd.Series(brands_price)
brand_mileage_series=pd.Series(brands_mileage)

brand_info=pd.DataFrame(brand_price_series,columns=['mean_price'])
brand_info['mean_mileage']=brand_mileage_series

In [146]:
brand_info

                mean_price   mean_mileage
volkswagen     5452.338702  128387.222041
bmw            8541.678261  132791.326490
opel           2998.927675  128720.485782
mercedes_benz  8609.055966  130566.807649
audi           9166.508794  129440.793712
ford           3779.803039  123663.416063
renault        2437.605452  127885.199126
peugeot        3267.612647  124500.621831
fiat           2892.953514  116619.694588
seat           4541.999227  120608.285670

The range of car mileages does not vary as much as the prices do by brand, instead all falling within 10% for the top brands. There is a slight trend to the more expensive vehicles having higher mileage, with the less expensive vehicles having lower mileage.